#dieContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.dieButton{
    font-size: 3.5vw;
    background-color:maroon;
    color: rgb(189, 189, 56);
    border-color:saddlebrown;
    box-shadow: seashell;
    margin:0.5vw;
    border-radius: 25%;

}

#mainTitle{
    text-align: center;
    width: 100%;
    margin-top: auto;
    background-color:#401F3E;
    font-size: 5vw;
    
    
}

.felipa-regular {
  font-family: "Felipa", serif;
  font-weight: 400;
  font-style: normal;
}


body{
    background-color: #453F78;
}

#outputText{
    color: aliceblue;
}

#log{
    width: 25%;
    height: 400px;
    background-color: #FAF2A1;
    overflow-y: auto;
    border-color: #3F2E56;
    
    
}

#main-container{
    display: flex;
}

#main-container div{
    margin: auto;
    padding: 1rem;
}




